@using GeotecnologiaKNS.Views
@inject GeotecnologiaKNS.Repositories.Interfaces.ISolicitacaoRepository repository

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="background-color: #FFF; color: #258cfb;">
                                <th>
                                    @Html.DisplayName("Propriedade")
                                </th>
                                <th>
                                    @Html.DisplayName("Solicitante")
                                </th>
                                <th>
                                    @Html.DisplayName("DataSolicitacao")
                                </th>
                                <th>
                                    @Html.DisplayName("Analista")
                                </th>
                                <th>
                                    @Html.DisplayName("DataAnalise")    
                                </th>
                                <th>
                                    @Html.DisplayName("Status")
                                </th>
                            </tr>
                        </thead>
                        @foreach (Solicitacao solicitacao in repository.GetSolicitacoesByProdutor(ViewBag.VinculoId))
                        {
                            <tr class="table-row-link" @*data-url="@Url.Action("Edit", "Produtores", new { id = produtor.Id })"*@>
                                <td>@Html.DisplayFor(x => solicitacao.Propriedade.NomePropriedade)</td>
                                <td>@Html.DisplayFor(x => solicitacao.Solicitante)</td>
                                <td>@Html.DisplayFor(x => solicitacao.DataSolicitacao)</td>
                                <td>@Html.DisplayFor(x => solicitacao.Analista)</td>
                                <td>@Html.DisplayFor(x => solicitacao.DataAnalise)</td>
                                <td>@Html.DisplayStatusFor(x => solicitacao.Status)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>