<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-monitoramento" aria-expanded="false" aria-controls="ui-monitoramento">
                <i class="mdi mdi-monitor menu-icon"></i>
                <span class="menu-title">Monitoramento</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-monitoramento">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Produtores")">
                            <i class="menu-icon">
                                <svg width="14px" height="14px" viewBox="0 0 36.00 36.00" xmlns="http://www.w3.org/2000/svg" fill="#656565" stroke="#656565" stroke-width="0.00036"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.144"></g><g id="SVGRepo_iconCarrier"> <g id="Group_7" data-name="Group 7" transform="translate(-247 -205)"> <path id="Path_8" data-name="Path 8" d="M281,219a2,2,0,0,0,0-4h-5.1l-2.3-8.1a2.672,2.672,0,0,0-2.5-1.9h-12a2.807,2.807,0,0,0-2.5,1.9l-2.3,8.1H249a2,2,0,0,0,0,4h4.2a12.063,12.063,0,0,0,2.9,6H253a2.807,2.807,0,0,0-2.5,1.9l-3,12.1a1.431,1.431,0,0,0,1.5,1.9h32a1.458,1.458,0,0,0,1.5-1.9l-3-12.1A2.672,2.672,0,0,0,277,225h-3.1a12.063,12.063,0,0,0,2.9-6Zm-16,6a8.039,8.039,0,0,1-7.7-6h15.5A8.25,8.25,0,0,1,265,225Zm-5-16h10l1.7,6H258.3Zm-7.9,28,2-8H257v8Zm8.9,0v-8h8v8Zm16.9,0H273v-8h2.9Z" fill="#0000000"></path> </g> </g></svg>
                            </i>
                            Produtores
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Propriedades")">
                            <i class="menu-icon">
                                <svg width="14px" height="14px" viewBox="-0.68 0 37.35 37.35" xmlns="http://www.w3.org/2000/svg" fill="#656565" stroke="#656565"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_2" data-name="Group 2" transform="translate(-246.9 -123.65)"> <path id="Path_2" data-name="Path 2" d="M277.8,131.4a13.01,13.01,0,0,0-3.5-3.1l-6.6-3.9a5.417,5.417,0,0,0-5.5,0l-6.6,3.9a14.965,14.965,0,0,0-3.5,3.1l-3.6,4.8a9.173,9.173,0,0,0-1.6,4.8v16a4.012,4.012,0,0,0,4,4h28a4.012,4.012,0,0,0,4-4V141a9.173,9.173,0,0,0-1.6-4.8Zm-26,7.2,3.6-4.8a9.138,9.138,0,0,1,2.3-2.1l6.6-3.9a2.5,2.5,0,0,1,1.4,0l6.6,3.9a9.137,9.137,0,0,1,2.3,2.1l3.6,4.8a4.9,4.9,0,0,1,.8,2.4v4H251v-4A4.9,4.9,0,0,1,251.8,138.6ZM251,157v-8h12v8Zm16,0v-8h12v8Z" fill="#666"></path> <path id="Path_3" data-name="Path 3" d="M262,141h6a2.006,2.006,0,0,0,2-2v-2a2.006,2.006,0,0,0-2-2h-6a2.006,2.006,0,0,0-2,2v2A2.006,2.006,0,0,0,262,141Z" fill="#666"></path> </g> </g></svg>
                            </i>
                            Propriedades
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Solicitacoes")">
                            <i class="menu-icon">
                                <svg width="14px" height="14px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="6" y="6" width="36" height="36" rx="3" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></rect> <path d="M6 14H40" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M30 22H42" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M30 30H42" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M23 22H24" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M23 30H24" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 6L14 42" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            </i>
                            Solicitações
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        @if (User.Identity != null &&
        (User.Identity.HasEnabled<Features.Tenant>(operation => operation.Read) ||
        User.Identity.HasEnabled<Features.Role>(operation => operation.Read) ||
        User.Identity.HasEnabled<Features.User>(operation => operation.Read)))
        {
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-buffer menu-icon"></i>
                    <span class="menu-title">Painel Administrador</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    @if (User.Identity.HasEnabled<Features.Tenant>(operation => operation.Read))
                    {
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Industrias")">
                                    <i class="menu-icon mdi mdi-domain"></i>
                                    Industrias
                                </a>
                            </li>
                        </ul>
                    }
                    @if (User.Identity.HasEnabled<Features.Role>(operation => operation.Read))
                    {
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Roles")">
                                    <i class="menu-icon mdi mdi-security-network"></i>
                                    Funções
                                </a>
                            </li>
                        </ul>
                    }
                    @if (User.Identity.HasEnabled<Features.User>(operation => operation.Read))
                    {
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Users")">
                                    <i class="menu-icon mdi mdi-account "></i>
                                    Usuarios
                                </a>
                            </li>
                        </ul>
                    }
                    @if (User.Identity.HasEnabled<Features.User>(operation => operation.Read))
                    {
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Analista")">
                                    <i class="menu-icon">
                                        <svg width="14px" height="14px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="6" y="6" width="36" height="36" rx="3" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></rect> <path d="M6 14H40" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M30 22H42" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M30 30H42" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M23 22H24" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M23 30H24" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 6L14 42" stroke="#656565" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                    </i>
                                    Analistas
                                </a>
                            </li>
                        </ul>
                
                    }
                    
            </div>

            </li>
        }
    </ul>
</nav>