@using GeotecnologiaKNS.Views;
@model IEnumerable<GeotecnologiaKNS.Models.Propriedade>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Validações de propriedades</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="background-color: #FFF; color: #258cfb;">
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomePropriedade)
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.UnidadeFederativa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Municipio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Industria)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CadastroAmbientalRural)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Validacao)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="table-row-link" data-url="@Url.Action("Edit", "Propriedades", new { id = item.Id })">
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomePropriedade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnidadeFederativa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Municipio)
                                    </td>
                                    <td>
                                        @User.Identity.GetIndustria()
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CadastroAmbientalRural)
                                    </td>
                                    <td>
                                        @Html.DisplayValidacaoFor(x => item.Validacao)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Adiciona um evento de clique em todas as linhas da tabela com a classe "table-row-link"
    const rows = document.querySelectorAll('.table-row-link');
    rows.forEach(row => {
        row.addEventListener('click', function () {
            const url = this.dataset.url;
            window.location.href = url; // Redireciona para a URL da página de edição
        });
    });
</script>

