@model Produtor

<h2>Detalhes do Produtor</h2>

<table class="table">
    <tr>
        <th>ID:</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Nome:</th>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <th>CPF:</th>
        <td>@Model.Cpf</td>
    </tr>
    <tr>
        <th>Indústria:</th>
        <td>@Model.Industria</td>
    </tr>
</table>

@Html.ActionLink("Voltar para a lista", "Index")

