@model Produtor
<head>
    <link rel="stylesheet" href="C:\Users\vitor\source\repos\GeotecnologiaKNS\wwwroot\css\site.css">
</head>
<h1 style="font-size: 50px;">Produtor</h1>

<h4>Editar</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Nome)
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "error-message" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Cpf)
                @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "error-message" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Industria)
                @Html.TextBoxFor(model => model.Industria, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Industria, "", new { @class = "error-message" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Id)
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "error-message" })
            </div>
        </div>

    </div>
    <div style="margin-top: 20px">
        <a type="submit" class="btn btn-secondary" href="@Url.Action("Index", "Produtores")">Voltar</a>

        <div style="float: right;">
            <input type="submit" style="text-align: right; margin-left: 10px;" value="Salvar" class="btn btn-primary gradient-button" />
            <a href="@Url.Action("Delete", "Produtores", new { id = Model.Id })" class="btn btn-danger">Excluir</a>
        </div>
    </div>
}

<body> 
    <div class="conteudo-superior">
    <div class="tabs">
        <div class="tabs__sidebar">
            <button class="tabs__button active" data-for-tab="1" onclick="selecionarGuia(this)">Vínculos</button>
            <button class="tabs__button" data-for-tab="2" onclick="selecionarGuia(this)">Solicitação</button>
        </div>
        <div class="tabs__content" data-tab="1">
            <h2>Vínculo</h2>
            <p>Propriedade</p>
        </div>
        <div class="tabs__content" data-tab="2">
            <h2>Solicitação</h2>
            <p>Situação</p>
        </div>
    </div>
    <script>
        function selecionarGuia(botao) {
            const tabsContainer = document.querySelector('.tabs');
            const tabNumber = botao.dataset.forTab;
            const tabToActivate = tabsContainer.querySelector('.tabs__content[data-tab="' + tabNumber + '"]');

            const allButtons = tabsContainer.querySelectorAll('.tabs__button');
            allButtons.forEach((button) => {
                button.classList.remove('active');
            });

            const allTabs = tabsContainer.querySelectorAll('.tabs__content');
            allTabs.forEach((tab) => {
                tab.classList.remove('active');
            });

            botao.classList.add('active');
            tabToActivate.classList.add('active');
        }
    </script>
    </div>
</body>


