@using GeotecnologiaKNS.Views
@{
    ViewData["Title"] = "Home Page";
}
@inject ISolicitacaoRepository repository

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <partial name="_map"></partial>
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <h4 class="card-title">Solicitações</h4>
                <canvas id="barChart" style="display: block; width: 743px; height: 371px;" width="743" height="371" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Solicitações Recentes</p>
                <div class="table-responsive">
                    <div id="recent-purchases-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="recent-purchases-listing" class="table dataTable no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" style="width: 239.967px;" aria-label="Propriedade: clique para ordenar descendente">Propriedade</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" style="width: 305.25px;" aria-label="Solicitante: clique para ordenar descendente">Solicitante</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" style="width: 220.833px;" aria-label="Data da Solicitação: clique para ordenar descendente">Data da Solicitação</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" style="width: 116.4px;" aria-label="Analista: clique para ordenar descendente">Analista</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" style="width: 167.1px;" aria-label="Data da Análise: clique para ordenar descendente">Data da Análise</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" style="width: 241.183px;" aria-label="Status: clique para ordenar descendente">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in repository.GetRecentsSolicitacoes())
                                        {
                                            <tr role="row" class="odd">
                                                <td>@Html.DisplayFor(x => item.Propriedade.NomePropriedade)</td>
                                                <td>@Html.DisplayFor(x => item.Solicitante)</td>
                                                <td>@Html.DisplayFor(x => item.DataSolicitacao)</td>
                                                <td>@Html.DisplayFor(x => item.Analista)</td>
                                                <td>@Html.DisplayFor(x => item.DataAnalise)</td>
                                                <td>@Html.DisplayStatusFor(x => item.Status)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>