@model Cartografia

@{
    Layout = null;
    var arquivos = Model.Arquivos ?? new List<CartografiaArquivo>();
}

<div id="file-upload-content">
    <div class="card">
        <div class="card-body">

            <partial name="_file-upload" model="new CartografiaArquivo { VinculoId = Model.Id }" />

            <div class="modal fade" id="deletefileModal" tabindex="-1" aria-labelledby="deletefileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deletefileModalLabel">Deseja excluir este arquivo?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            @if (arquivos.Any())
            {
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="background-color: #FFF; color: #258cfb;">
                                <th>@Html.DisplayNameFor(model => model.Arquivos![0].Descricao)</th>
                                <th>Tipo</th>
                                <th>Data</th>
                                <th>Arquivo</th>
                                <th colspan="2" class="text-end">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in arquivos)
                            {
                                <tr>
                                    <td>
                                        @item.Descricao
                                        <input type="hidden" value="@item.Id" />
                                    </td>
                                    <td>@TipoCartografico.GetDescricao(item.Tipo)</td>
                                    <td>@Html.DisplayFor(_ => item.DataCartografia)</td>
                                    <td><strong>Cartográfico</strong></td>
                                    <td class="text-end">
                                        <a class="btn btn-primary gradient-button"
                                           target="_blank"
                                           href="@Url.Action("ViewFile", "Cartografias", new { item.Id })">
                                            <i class="bi bi-eye-fill"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-primary gradient-button"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deletefileModal"
                                                onclick="setdeletefilemodal($(this))">
                                            <i class="bi bi-trash3-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Nenhum documento.</p>
            }
        </div>
    </div>
</div>