@model Produtor
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="background-color: #FFF; color: #258cfb;">
                                <th>

                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cpf)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Industria)
                                </th>

                            </tr>
                        </thead>
                        <tr class="table-row-link" @* data-url="@Url.Action("Edit", "Produtores", new { id = produtor.Id })*@">
                            <td>@Html.DisplayFor(x => Model.Nome)</td>
                            <td>@Html.DisplayFor(x => Model.Cpf)</td>
                            <td>@Html.DisplayFor(x => Model.Industria)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
