@model IEnumerable<GeotecnologiaKNS.Models.Propriedade>

<h1 style="font-size: 50px;">Propriedades</h1>

<div style="text-align: right;">
    <button type="submit" class="btn btn-primary gradient-button" onclick="location.href='@Url.Action("Create")'">Novo cadastro</button>
</div>
<table class="table">
    <thead>
        <tr style="background-color: #FFF; color: #258cfb;">
            <th>
                @Html.DisplayNameFor(model => model.NomePropriedade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeFederativa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroAmbientalRural)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePropriedade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadeFederativa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Industria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadastroAmbientalRural)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary gradient-button">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
